    body {
        background-image: url("../images/otherbackground.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-color: #333;
    }

    h1 {
        color: #222;
        text-align: center;
        font-size: 40px;
        font-family: 'Permanent Marker', cursive;
        display: inline-block;
    }
    #navname {
        font-family: 'Michroma', sans-serif;
        color: rgb(183, 235, 228);
        letter-spacing: -1px;
    }
    #searchbutton {
        background-color: #fff;
    }
    /* .reverse-letter {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        unicode-bidi: bidi-override;
        direction: rtl;
    } */

    #dStyle {
        margin-bottom: 8px;
    }

    #navBartop {
        background-color: rgba(36, 50, 47, 0.756);
        border-bottom: 4px solid rgba(148, 242, 206, 0.646);

    }
    #memberInfo-display {
        font-family: 'Permanent Marker', cursive;
        font-family: 'Give You Glory', cursive;
        font-family: 'Shadows Into Light', cursive;
        font-size: 25px;
    }

    h3,
    {
        font-family: 'Permanent Marker', cursive;
        font-family: 'Give You Glory', cursive;
        font-family: 'Shadows Into Light', cursive;
        font-size: 25px;
        color: whitesmoke
    }

    footer {
        position:absolute;
   bottom:0;
   background-color: rgba(84, 215, 191, 0.756);
   width: 100%;
   border-top: 4px solid rgba(148, 242, 206, 0.646);
    }

    #myChart {
        height: 95%;
        width: 95%;
    }

    .whipped-cream {
        display: block;
        margin: 0 auto;
    }

     /* Age gate style */
    
     #ageGatemodal {
        font-family: 'Noto Serif KR', sans-serif;
        border: 5px solid rgba(68, 100, 79, 0.466);
    }
    
    #age-modal-header {
        margin-top: 2px;
        font-family: 'Exo', sans-serif;
         text-align: center;
         color: rgba(205, 223, 205, 0.705);
         border-bottom: 4px solid rgb(92, 189, 92);
    background-color: rgba(211, 211, 211, 0.301);
    }
    #age-modal-footer{
        
        font-family: 'Noto Serif KR', sans-serif;
         text-align: left;
         font-size: 14pt;
         color: rgb(228, 228, 228);
    }
    #age-modal-month {
        border-top: #222;
        margin: 0 auto; 
        width:400px;  
        margin-bottom: 20px;
    }

    /* #modal-age-limit {
        border-bottom: 4px solid rgb(92, 189, 92);
    background-color: rgba(211, 211, 211, 0.301);
   
    } */
    #age-submit {
        margin-top: 20px;
        background-color: green;
        margin-right: 0px;
    }
    #verify-year, #verify-month, #verify-day {
        background-color: #546F54;
        color: white;
    }


    /* Chart styling */

    #stylechart {
        margin-top: 60px;
        height: 100%;
        width: 100%;
    }

